@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Quicksand:wght@300..700&display=swap');


.loginContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #420583;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; 
  padding: 15px 0;
  overflow: hidden;
}


.titulosLogin {
  text-align: center;
  margin-top: 10px;
  flex-shrink: 0;
  z-index: 10;
  margin-bottom: -110px;
}

.titleolaLogin, .titlebemvindoLogin, .titleiaraLogin {
  font-family: 'Quicksand', sans-serif;
  color: aqua;
  margin: 0;
  line-height: 1.1;
}

.titleolaLogin { font-size: 2.2rem; font-weight: 300; }
.titlebemvindoLogin { font-size: 1.8rem; font-weight: 300; }
.titleiaraLogin { font-size: 1.8rem; font-weight: 700; }
#aIARA { font-weight: 300; font-style: normal; margin-right: 5px; }


.logoiara {
  height: 60vh; 
  width: auto;
  object-fit: contain;
  filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.3));
  flex-shrink: 0; 
  min-height: 300px; 
  z-index: 5;
  margin-bottom: -70px;
}


.formLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -20;
  width: 85%;
  max-width: 350px;
  z-index: 10;
}


.inputLogin, .inputPassword {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 30px;
  border: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  outline: none;
  
 
  background-color: white !important;
  color: black !important;
  color-scheme: light; 
}

.btnLogin {
  width: 100%;
  padding: 12px;
  background-color: #e25300;
  border-radius: 30px;
  color: #380075;
  font-weight: bold;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;
  margin-top: 5px;
  transition: transform 0.2s;
}

.btnLogin:hover {
  background-color: #ff7b00;
  transform: scale(1.02);
}


.linkCadastro {
  margin-top: 10px;
  color: white;
  margin-top: 25px;
  font-family: 'Quicksand', sans-serif;
  font-size: 0.9rem;
}

.spanCadastro { color: aqua; font-weight: bold; cursor: pointer; }


.anjosDigitais {
  height: 40px;
  width: auto;
  margin-top: -40px;
  margin-bottom: 15px;
  opacity: 0.8;
  flex-shrink: 0;
}


.loginContainer { opacity: 0; transition: opacity 0.8s; }
.loginContainer.fade-in { opacity: 1; }

@media (max-height: 700px) {
 
  .titleolaLogin { font-size: 1.8rem; }
  .titlebemvindoLogin { font-size: 1.5rem; }
  .titleiaraLogin { font-size: 1.5rem; }
  
  .logoiara {
     height: 35vh; 
     min-height: 200px;
  }
}